{% extends "base.html.twig" %}
{% block title %}
Formulaire pour nouveau client 
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Formulaires nouveau client</h1>
        <form action="{{env.base_path}}/clients/" method="POST">
            <div class="form-group">
                <div class="col"><div>Nom de famille</div>
                    <input id="formLastname" name="lastname" type="text" class="form-control" placeholder="Lastname">
                </div>
                <br>
                <div class="col"><div>Prénom</div>
                    <input id="formFirstname" name= "firstname" type="text" class="form-control" placeholder="Firstname">
                </div>
                <br>
                <div class="col"><div>Date d'entrée</div>
                    <input id="formEntry_date" name= "entry_date" type="date" class="form-control" placeholder="Entry Date">
                </div>
                <br>
                <div class="col"><div>Date de départ</div>
                    <input id="formDepartureDate" name= "departure_date" type="date" class="form-control" placeholder="Departure Date">
                </div>
                <br>
                <input class="btn-primary" type="submit" value="Ajouter">
            </div>
        </form>
    </div>
    {% endblock  %}
